@model PageViewModel
@*Visitor/VisitorList*@

<partial name="../Partials/_VisitorPartial.cshtml" model="Model" />



<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="col">
                    <form class="form-inline justify-content-between">
                        <input type="text" class="form-control col-md-4 mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Start Date">
                        <input type="text" class="form-control col-md-4 mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter End Date"> 
                     
                     
                        <button type="submit" class="btn btn-primary mb-2">View</button>
                    </form>
                </div>
                <hr />
                <table class="table table-hover table-bordered table-striped" id="sampleTable">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Expected Time</th>
                            <th>Date</th>
                            <th>Reason</th>
                            <th>Host</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ezekiel Abodesegun</td>
                            <td>eabodesegun@iteco.com.ng</td>
                            <td>07030050019</td>
                            <td>2:00pm</td>
                            <td>1/2/2019</td>
                            <td>To deliever product</td>
                            <td>Ezekiel Abodesegun</td>
                         
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Data table plugin-->
  
    <script type="text/javascript">
    $('#sampleTable').DataTable({
            ordering: false
        });</script>

    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })

}

